.landing-container {
  height: 100vh;
  font-size: 1.15rem;
}

.landing h1 {
  font-size: 4em;
  letter-spacing: 0.5rem;
  font-weight: 700;
  margin-bottom: 6.5rem;
}

.landing p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 3rem;
}

.landing-title {
  color: #f8f8ff;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 4rem;
  text-align: center;
}

.landing-container img {
  height: 75vh;
  margin-left: 10vw;
  margin-top: 10vh;
}

.landing-image {
  background-image: url("../../images/Train_at_Station.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:hover,
.btn {
  cursor: pointer;
  outline: none;
}

.btn:hover {
  border-color: #888888;
}

.attribution {
  position: absolute;
  z-index: 2;
  font-size: 1rem;
  right: 1rem;
  bottom: 0;
  color: darkgrey;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .landing-title {
    width: 60%;
  }
  .btn {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  .landing-title {
    width: 96%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0;
  }
  .landing h1 {
    font-size: 2.4em;
    letter-spacing: 0.3rem;
  }
  .landing-text {
    transform: skew(0);
  }
}
