.map-option-btn {
  width: 11rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  transition: all 0.3s;
  background-color: #404040;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-option-active {
  background-color: #008000;
}

.check-icon {
  color: #00b300;
}
