.result-box {
  width: 12rem;
  border-radius: 0.5rem;
  padding: 0 0.7rem;
  color: white;
  transition: all 0.3s;
}

.search-results {
  overflow: auto;
}

.search-results small {
  color: #e6e6e6;
}

.search-results b {
  background-color: #45859a;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
}

.result-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.3rem;
}

.result-box:hover {
  background-color: #555;
}
