
.page {
    display: flex;
    height: 90vh;
    width: 100%;
}

.page-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-right {
    width: 70%;
    background-color: green;
}