/* Search Results //////////////////////////////////////////////////////////////////////////// */

.search-result-container {
  max-height: 0;
  padding: 0;
  flex-direction: column;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.search-result-container-active {
  max-height: 70vh;
  padding: 1rem 0;
  flex-direction: column;
  transition: max-height 0.25s ease-in;
  overflow: auto;
}
